<section class="todoapp">
    <header class="header">
        <h1>What's Next?</h1>
        <form id="new-form">
            <input type="text" class="new-todo" placeholder="(Add Item)" />
        </form>
    </header>

    <section class="main">
    <ul class="todo-list">

    </ul>
    </section>
    <footer class="footer">
                <span class="todo-count"></span>
                <ul class="filters">
                    <li>
                        <button class="all">All</button>
                    </li>
                    <li>
                        <button class="active">Active Items</button>
                    </li>
                    <li>
                        <button class="completed">Completed</button>
                    </li>
                </ul>
            </footer>
</section>

<section class="author">
A<%=link_to " todo-mvc", "http://todomvc.com"%> application, built by <%=link_to "Dr. Kalen Hammann", "https://github.com/DrKalen" %>
</section>
